body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #007bff;
    color: white;
}

h1 {
    margin: 0;
    font-size: 2em;
}

h2 {
    color: #333;
    font-size: 1.5em;
    margin: 0;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-align: center;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 20px;
}

.calendar_day {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.timeslot {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.timeslot:last-child {
    border-bottom: none;
}

.timeslot p {
    margin: 0;
    color: #555;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #007bff;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

form p {
    text-align: center;
    font-size: 1.2em;
    color: #333;
}

.timetable {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(14, 1fr);
    gap: 5px;
}
.timeslot {
    border: 1px solid #000;
    padding: 10px;
    position: relative;
}
.user-schedule {
    background-color: rgba(173, 216, 230, 0.7); /* Light blue */
}
.availability-schedule {
    background-color: rgba(144, 238, 144, 0.7); /* Light green */
}
