<!DOCTYPE html>
<html lang="en" >
    <head>
        <meta charset="UTF-8">
        <title>Calendar</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="calendar">
            <div class="calendar_day">
                <h1>Mon 13</h1>
            </div>
            <div class="calendar_day">
                <h1>Tue 14</h1>
            </div>
            <div class="calendar_day">
                <h1>Wed 15</h1>
            </div>
            <div class="calendar_day">
                <h1>Thu 16</h1>
            </div>
            <div class="calendar_day">
                <h1>Fri 17</h1>
            </div>
        </div>
    </body>
</html>
